.photoscontainer {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: -20px;
  text-align: center;
}

.photo {
  display: inline-block;
  margin: 10px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%;
  height: auto;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.closebtn:hover {
  color: #b1b1b1;
  text-decoration: none;
}

.rightarrow:hover {
  color: #b1b1b1;
  text-decoration: none;
}

.leftarrow:hover {
  color: #b1b1b1;
  text-decoration: none;
}

.closebtn {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: rgb(230, 230, 230);
  display: block;
  transition: 0.3s;
  position: absolute;
  top: 10px;
  right: 30px;
}

.rightarrow {
  position: absolute;
  top: 46vh;
  right: 30px;
  font-size: 50px;
  transition: 0.3s;
  color: rgb(230, 230, 230);
}

.leftarrow {
  position: absolute;
  top: 46vh;
  left: 30px;
  font-size: 50px;
  transition: 0.3s;
  color: rgb(230, 230, 230);
}

.photoreal {
  width: 840px;
  height: auto;
  margin-bottom: 0px;
  cursor: pointer;
}

.photofull {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.photorealhalf {
  width: 410px;
  max-height: 600px;
  margin-bottom: 0px;
  cursor: pointer;
  object-fit: cover;
}


.photojumbotext {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 1;
}

.photorealtext {
  font-size: 60px;
  font-weight: bold;
  font-family: 'DM Sans';
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.photosubtext {
  font-size: 22px;
  font-family: 'DM Sans';
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (max-width: 500px) {
  .photojumbotext {
    font-size: 50px !important;
  }
}

.phototext {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 35px;
  padding-top: 50px;
  margin-top: -20px;
}

.albumhighlighttext {
  font-size: 30px;
  font-weight: 500px;
  margin-top: 20px;
  line-height: 1.2;
  color: #292930;
  font-family: 'DM Sans';
}

.albumtext {
  line-height: 1.5;
  color: #626262;
  font-family: 'DM Sans';
}